#include <dt-bindings/spi/spi.h>
#include <dt-bindings/led/led.h>

/ {
	aliases {
		lcd-backlight = &aw9364;
		status-rgb = &sk6805;
	};

	aw9364: aw9364 {
		compatible = "awinic,aw9364";
		output-gpios = <&gpio0 19 GPIO_PULL_UP>;
	};
};

&spi3 {
	mosi-pin = <21>;

	sk6805: sk6805@0 {
		compatible = "worldsemi,ws2812-spi";
		label = "sk6805";

		reg = <0>;
		spi-max-frequency = <4000000>;
		frame-format = <SPI_FRAME_FORMAT_TI>;

		chain-length = <1>;
		spi-one-frame = <0x70>;
		spi-zero-frame = <0x40>;
		color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
	};
};
